{
  "extends": [
    "airbnb",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "plugin:react/recommended",
    "plugin:import/typescript",
    "plugin:jsx-a11y/recommended"
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "react",
    "react-hooks",
    "jsx-a11y"
  ],
  "rules": {
    "no-bitwise": "error",
    "react/react-in-jsx-scope": "off",
    "react/jsx-key": [
      2,
      {
        "checkFragmentShorthand": true
      }
    ],
    "linebreak-style": "off",
    "import/prefer-default-export": "off",
    "react/destructuring-assignment": "off",
    "object-curly-newline": "off",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".tsx",
          ".jsx"
        ]
      }
    ],
    "@typescript-eslint/explicit-member-accessibility": "off",
    "react/jsx-props-no-spreading": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/no-array-index-key": "warn",
    "jsx-a11y/label-has-for": "warn",
    "jsx-a11y/label-has-associated-control": "warn",
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "**/*.test.*",
          "**/*.spec.*"
        ]
      }
    ],
    "import/no-unresolved": [
      2,
      {
        "ignore": [
          "ui/*"
        ]
      }
    ],
    "no-use-before-define": "off"
  },
  "env": {
    "node": true,
    "browser": true,
    "jest": true
  }
}